@font-face {
	font-family: "DIN";
	src: url("/assets/fonts/DINPro-Regular.otf") format('opentype');
}
@font-face {
	font-family: "DIN";
	font-weight: bold;
	src: url("/assets/fonts/DINPro-Bold.otf") format('opentype');
}

html {
	position: relative;
	min-height: 100%;
}
body {
	margin-bottom: 100px;
}

header {
	background: #1C1862;
	height: 78px;
	text-align: center;
	border-bottom: solid white;
	margin-bottom: 140px;
	z-index: 1;
	position: relative;
}
.beta {
    position: absolute;
    top: 110px;
    left: -80px;
    width: 10em;
    transform: rotate(-40deg);
    background: none repeat scroll 0% 0% white;
    color: #1C1862;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}
.username {
	color: white;
	position: absolute;
	padding: 12px;
}
header img {
	height: 180px;
	margin-top: 27px;
}
#pagetitle {
	padding: .3em 1em;
	background-color: #1C1862;
	color: white;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
}
#content {
	max-width: 1024px;
	margin: auto;
	padding: 50px;
}
.footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	background: #1C1862;
	height: 90px;
	padding-top: 20px;
	color: white;
}
.footerlink {
	padding: 0 1em;
}
.footerlink img {
	height: 50px;
}

.btn-blue {
	background-color: #1C1862;
	color: white;
}
.error {
    color: #DE4040;
    font-weight: bold;
}
a[disabled] {
    pointer-events: none;
    color: gray;
}

#content p {
	max-width: 900px;
	margin: auto;
	text-align: justify;
}
.contentform {
	width: 50%;
	margin: auto;
}
.contentform input {
	width: 100%;
}
.contentform .btn-blue {
    margin-top: 2em;
    display: block;
}
.contentform dl {
	margin-top: 20px;
	margin-bottom: 0;
}
.contentform .btn {
	font-weight: bold;
	margin-top: 2em;
}
.contentform .btn-group .btn {
	margin-top: 1em;
}
.index-col-left {
	text-align: right;
	width: 50%;
}
.index-col-right {
	padding-right: 2em;
}

.contact {
	max-width: 500px;
	margin: auto;
}
.contactimg {
	width: 150px;
	text-align: center;
	margin: 50px;
}

.formmenu {
	max-width: 600px;
	margin: auto;
	border: #1C1862 solid;
	margin-bottom: 70px;
}
.formmenuitem {
	position: relative;
	float: left;
	width: 140px;
	padding: 7px;
	padding-left: 25px;
	text-align: center;
	font-weight: bold;
}
.formmenuitem a {
	color: #1C1862;
}
.formmenuitem.selected {
	background-color: #1C1862;
}
.formmenuitem.selected a {
	color: white;
}
.formmenuitem.selected:after {
	content: " ";
	border: 19px solid;
	border-color: transparent transparent transparent #1C1862;
	position: absolute;
	top: -2px;
	left: 140px;
}
.formmenuitem.selected:last-child:after {
	border-color: #1C1862;
}
.table > tbody > tr > th {
	color: #FFF;
	text-transform: uppercase;
	line-height: 3em;
	border-top: none;
	font-size: 120%
}
.table > tbody > tr > td {
	border-top: none;
}
.formname {
	color: #1C1862;
	font-weight: bold;
}
.form .input label {
	width: 15%;
	padding-left: 1em;	
}
.vsiform {
	margin-top: 20px;
}
.vsiform select {
    width: 100%;
}
.row {
	margin-bottom: 20px;
}

.report {
	width: 640px;
	margin: auto;
}