@font-face {
	font-family: "DIN";
	src: url("/assets/fonts/DINPro-Regular.otf") format('opentype');
}
@font-face {
	font-family: "DIN";
	font-weight: bold;
	src: url("/assets/fonts/DINPro-Bold.otf") format('opentype');
}

html {
	position: relative;
	min-height: 100%;
}
body {
	margin-bottom: 58px;
}

#header {
	background: #1C1862;
	height: 138px;
	text-align: center;
	border-bottom: solid white;
	margin-bottom: 100px;
}
.username {
	color: white;
	position: absolute;
	padding: 30px;
}
#header img {
	margin-top: 57px;
}
#content {
	max-width: 1024px;
	margin: auto;
	padding: 50px;
}
.footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	background: #1C1862;
	height: 48px;
	padding-top: 20px;
	color: white;
}
.footerlink {
	padding: 0 1em;
}

.loginform {
	width: 50%;
	margin: auto;
}
.loginform input {
	width: 100%
}

.index-col-left {
	text-align: right;
	width: 50%;
}
.index-col-right {
	padding-right: 2em;
}

.contact {
	max-width: 500px;
	margin: auto;
}
.contactimg {
	width: 150px;
	text-align: center;
	margin: 50px;
}

.formmenu {
	max-width: 500px;
	margin: auto;
	border: #1C1862 solid;
}
.formmenuitem {
	float: left;
	width: 25%;
	padding: .5em;
}
.form {
	margin: 0 18px;	
}
.form .input label {
	width: 15%;
	padding-left: 1em;	
}