@font-face {
	font-family: "DIN";
	src: url("/assets/fonts/DINPro-Regular.otf") format('opentype');
}
@font-face {
	font-family: "DIN";
	font-weight: bold;
	src: url("/assets/fonts/DINPro-Bold.otf") format('opentype');
}

html {
	position: relative;
	min-height: 100%;
}
body {
	margin-bottom: 58px;
}

#header {
	background: #011936;
	height: 138px;
	text-align: center;
	border-bottom: solid white;
	margin-bottom: 100px;
}
.username {
	color: white;
	position: absolute;
	padding: 30px;
}
#header img {
	margin-top: 57px;
}
#content {
	max-width: 1024px;
	margin: auto;
	padding: 50px;
}
.footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	background: #011936;
	height: 48px;
	padding-top: 20px;
	color: white;
}

.loginform {
	width: 50%;
	margin: auto;
}
.loginform input {
	width: 100%
}

.index-col-left {
	text-align: right;
	width: 50%;
}
.index-col-right {
	padding-right: 2em;
}