@(forms: Seq[(String, String, Int)] )(implicit user: User)

@main("Diagnostic", Some(user)) {
    <table class="table">
    	<tr>
    		<th class="index-col-left">Mes formulaires</th>
    		<th class="index-col-right">Questions</th>
    	</tr>
    	@for(form <- forms) {
    	<tr>
    		<td class="index-col-left">
    			<a href="@routes.Application.form(form._1.toString)">@form._2</a>
    		</td>
    		<td class="index-col-right">
    			@form._3 question(s) remplie(s)
    		</td>
   		</tr>
   		}
 	</table>
}