@(forms: Seq[(String, String, Int, Int)], fgName: String )(implicit user: User)

@main(fgName, Some(user), currentPage=fgName) {
    <table class="table">
    	<tr>
    		<th class="index-col-left">Mes formulaires</th>
    		<th class="index-col-right">Questions</th>
    	</tr>
    	@for(form <- forms) {
    	<tr>
    		<td class="index-col-left">
    			<a href="@routes.Application.form(form._1.toString)" class="formname">@form._2</a>
    		</td>
    		<td class="index-col-right">
    			@* @form._3 réponse@if(form._3 >1){s} sur @form._4 *@
    		    @if(form._4 != form._3){
    		    	Il reste @(form._4 - form._3) question(s) sur @form._4
    		    } else {
    			Questionnaire complet (@form._4 réponses)}
    		</td>
   		</tr>
   		}
 	</table>
}