@(infoForm: Form[UserCompanyInfo])(implicit user: User)

@main("Bienvenue !", Some(user), currentPage = "index") {
	<p>
		Le capital immatériel est la richesse cachée des entreprises. La gestion du risque et 
		la sécurisation du capital immatériel permet de mettre en lumière cette richesse inexploitée.
		Cette plate-forme vous permet d'illustrer le processus de création de valeur de votre capital
		immatériel.
	</p>
	<p>
		<strong>L'objectif de ce site est de connaître l'état de votre capital immatériel.</strong>
	</p>
	<p>
		Pour commencer, vous allez d'abord faire un pré-diagnostic de votre capital immatériel. Si
		votre pré-diagnostic est concluant, vous allez pouvoir faire un diagnostic total de 
		votre capital immatériel.
	</p>
	
	<div class="contentform">
	    @helper.form(action = routes.Application.saveinfo, 'class->"form") {
	    	@infoForm.globalError.map { error => <p class="error">@error.message</p>}
	    	
	    	@helper.inputText(infoForm("department"), '_label -> null,
	    		'placeholder->"Département de l'entreprise", 'class->"form-control")
	    	@helper.inputText(infoForm("naf"), '_label -> null,
	    		'placeholder->"Code Naf", 'class->"form-control")
	    	@helper.inputText(infoForm("year"), '_label -> null,
	    		'placeholder->"Année de création", 'class->"form-control")
	    	@helper.input(infoForm("isGroup"),
	    		'_label->"", 'class->"form-control")  { (id, name, value, args) =>
				<div class="form-group">
					<div>L'entreprise fait partie d'un groupe</div>
					<div class="btn-group" data-toggle="buttons">
					  <label class="btn btn-default @if(value.getOrElse(None)=="Oui"){active}">
					    <input type="radio" name="@name" id="@{id+1}" @if(value=="Oui"){checked} autocomplete="off" value="Oui"> Oui
					  </label>
					  <label class="btn btn-default @if(value.getOrElse(None)=="Non"){active}">
					    <input type="radio" name="@name" id="@{id+2}" @if(value=="Non"){checked} autocomplete="off" value="Non">Non
					  </label>
					</div>
				</div>
			}
	    	<input type="submit" class="btn btn-blue" value="Enregistrer">
	    }
    </div>
}
