@(implicit user: User)

@main("Bienvenue !", Some(user)) {
	<p>
		Le capital immatériel est la richesse cachée des entreprises. La gestion du risque et 
		la sécurisation du capital immatériel permet de mettre en lumière cette richesse inexploitée.
		Cette plate-forme vosu permet d'illustrer le processus de création de valeur de votre capital
		immatériel.
	</p>
	<p>
		<strong>L'objectif de ce site est de connaître l'état de votre capital immatériel.</strong>
	</p>
	<p>
		Pour commencer, vous allez d'abord faire un pré-diagnostic de votre capital immatériel. si
		votre pré-diagnostic est concluant, vous allez pouvoir faire un diagnostic total de 
		votre capital immatériel.
	</p>
	Connecté en tant que @user.email.
	<div><a>Modifier le mot de passe.</a></div>
	<form class="form" action="/saveinfo" method="POST">
		<div class="form-group">
			<label for="department">Département de l'entreprise</label>
			<input type="text" id="department" name="department" class="form-control" />
		</div>
		<div class="form-group">
			<label for="naf">Code Naf</label>
			<input type="text" id="naf" name="naf" class="form-control" />
		</div>
		<div class="form-group">
			<label for="year">Année de création</label>
			<input type="number" id="year" name="year" class="form-control" />
		</div>
		<div class="form-group">
			<label for="isGroup">L'entreprise fait partie d'un groupe</label>
			<div class="btn-group" data-toggle="buttons">
			  <label class="btn btn-primary active">
			    <input type="radio" name="isGroup" id="isGroup1" autocomplete="off"> Oui
			  </label>
			  <label class="btn btn-primary">
			    <input type="radio" name="isGroup" id="isGroup2" autocomplete="off"> Non
			  </label>
			</div>
		</div>
		<input type="submit" value="Enregistrer" />
	</form>
}