@(title: String, userOption: Option[User])(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-theme.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/hello.js")" type="text/javascript"></script>
    </head>
    <body>
    	<div id="header">
    		@userOption match {
    			case Some(user) => {
    				<div class="username">
    					@user.email
    					<div><a href="@routes.Auth.logout">Se déconnecter</a></div>
    				</div>
    				
   				}
    			case None => {Connectez-vous}
    		}
    		<img src="@routes.Assets.at("images/logo.png")" />
    	</div>
    	<div id="content">
        	@content
        </div>
        <div class="footer">
        	<div class="pull-left">
        		Informations Légales
        	</div>
        	<div class="pull-right">
        		À propos
        	</div>
        	<div class="pull-right">
        		Contact
        	</div>
        </div>
    </body>
</html>