@(title: String, userOption: Option[User])(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title - V.S.I.</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap-theme.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/hello.js")" type="text/javascript"></script>
    </head>
    <body>
    	<div id="header">
    		@userOption match {
    			case Some(user) => {
    				<div class="username">
    					@user.email
    					<div><a href="@routes.Auth.logout">Se déconnecter</a></div>
    				</div>
    				
   				}
    			case None => {
    				<div class="username">
    					<div><a href="@routes.Auth.login">Se connecter</a></div>
    				</div>
    			}
    		}
    		<img src="@routes.Assets.at("images/logo.png")" />
    	</div>
    	<div class="container text-center"><span id="pagetitle">@title</span></div>
    	<div id="content">
        	@content
        </div>
        	
		@if(!userOption.isEmpty) {
		<div class="formmenu">
			<div class="formmenuitem selected">
				<a href="@routes.Application.index">Profil</a>
			</div>
		   	@for(formgroup <- UserData.formGroupList) {
		   	<div class="formmenuitem">
		   		<a href="@routes.Application.formgroup(formgroup._2)">@formgroup._1</a>
		   	</div>
			}
			<div class="formmenuitem">
				<a href="@routes.Application.report">Rapport</a>
			</div>
			<div class="clearfix"></div>
		</div>
		}
		<div class="clearfix"></div>
	
        <div class="footer container">
        	<div class="pull-left footerlink">
        		<img src="/assets/images/DGCIS DGE logo.png" />
        		<img src="/assets/images/observatoire-logo.png" />
        		<div>
        			<a href="@routes.Application.info">Informations Légales</a>
        		</div>
        	</div>
        	<div class="pull-right footerlink">
        		<a href="@routes.Application.contact">Contact</a>
        	</div>
        </div>
    </body>
</html>