@(reportData: ResponseAnalysis)(implicit user: User)

<p>
 	@if(reportData.globalEval(user) > 3) {
     L'entreprise a une bonne évaluation (@reportData.globalEval(user))
  	} else {
	  L'entreprise a une mauvaise évaluation (@reportData.globalEval(user))
   }
</p>
<h2>Gestion des risques</h2>
<div style="float: left">
	<img src="http://localhost:9000@routes.Application.chart("risk", user.email)" />
</div>
<div style="float: left">
	<table>
		<tr>
			<th>Thème</th>
			<th>Note sur 5</th>
		</tr>
		@for((form, eval) <- reportData.getRiskEval(user.email)) {
		<tr>
			<td>@form</td>
			<td>@eval</td>
		</tr>
		}
	</table>
</div>
<div style="clear: both"></div>
<h2>Gestion du capital immatériel</h2>
<div style="float: left">
	<img src="http://localhost:9000@routes.Application.chart("capital", user.email)" />
</div>
<div style="clear: both"></div>
