@(reportData: ResponseAnalysisInterface)(implicit user: User, request: RequestHeader)
<div class="report-username">@{user.email}</div>
<div class="date">@{
	import java.text.SimpleDateFormat
	import java.util.Locale
	val date = new java.util.Date()
	val dateFormat = new SimpleDateFormat("EEEE dd MMM yyyy, HH:mm", Locale.FRENCH)
    dateFormat.format(date)
}</div>
<h2>V.A.I.</h2>
Valorisation des acquis de l'immatériel
<table>
	<tr>
		<td>
			<h3>Date du dernier audit</h3>
			<p>JJ/MM/AAAA</p>
			<p>Auto diagnostique n°#</p>
		</td>
		<td>
			<h3>Présentation de l'entreprise</h3>
			<p>Code NAF : @{ reportData.getCompanyInfo(user).get.naf.getOrElse("N.R.") }</p>
			<p>@{ reportData.getNAFLabel( reportData.getCompanyInfo(user).get.naf.getOrElse("N.R.") ) }</p>
			<p>Année de création: @{ reportData.getCompanyInfo(user).get. year.getOrElse("N.R.") }</p>
			<p>@{ if( reportData.getCompanyInfo(user).get. isGroup )
				 	"Fait partie d'un groupe."
				 	else
				 	"Ne fait pas partie d'un groupe."
				 }</p>
		</td>
		<td>
			<h3>Bilan de la valorisation de l’entreprise</h3>
			<p>
			 	@if(reportData.globalEval(user) > 3) {
			     L'entreprise a une bonne évaluation:
			     	@{ "%.2f".format(reportData.globalEval(user))} sur 5 .
			  	} else {
				  L'entreprise a une mauvaise évaluation:
			     	@{ "%.2f".format(reportData.globalEval(user))} sur 5 .
			   }
			</p>
			<p>Cette moyenne ne tient pas compte des formulaires non remplis.</p>
		</td>
	</tr>
</table>

<table>
	<tr>
		<td>Capital XX: XX</td>
		<td>Capital XX: XX</td>
		<td>Capital XX: XX</td>
		<td>Capital XX: XX</td>
	</tr>
</table>

<h2>Gestion des risques</h2>

<div style="float: left">
	<img src="http://@request.host@routes.Application.chart("risk", user.email)" />
</div>

<div style="clear: both"></div>

<div style="float: left">
	<table>
		<tr>
			<th>Thème</th>
			<th>Note sur 5</th>
		</tr>
		@for((form, eval) <- reportData.getRiskEval(user.email)) {
		<tr>
			<td>@form</td>
			<td>@("%.2f".format(eval))</td>
		</tr>
		}
	</table>
</div>
<div style="clear: both"></div>

<h2>Gestion du capital immatériel</h2>

<div style="float: left">
	<img src="http://@request.host@routes.Application.chart("capital", user.email)" />
</div>
<div style="clear: both"></div>

<div style="float: left">
	<table>
		<tr>
			<th>Thème</th>
			<th>Note sur 5</th>
		</tr>
		@for((form, eval) <- reportData.getCapitalEval(user.email) ) {
		<tr>
			<td>@form</td>
			<td>@("%.2f".format(eval))</td>
		</tr>
		}
	</table>
</div>
<div style="clear: both"></div>

<h2>Récapitulation et recommandations</h2>

@* Textual report 
  for( formsGroupName <- reportData.formsGroups
  	formsGroupURI <- formsGroupsURIMap(formsGroupName) ) yield {
  	*@

@{ println(">>>> reportData.formsGroups " + reportData.formsGroups)
  for( formsGroupName <- reportData.formsGroups ) yield {
  val formsGroupURI = reportData.formsGroupsURIMap(formsGroupName)
  val elems = reportData.filterQuestionnaires( user, formsGroupURI) match {
	case ( goodOnes, badOnes ) => {
	 ( for( item <- goodOnes ) yield
	 	if( item._1 != "" )
	 	 <p> Un point favorable est
	 	 <a href={ "/form?url=" + java.net.URLEncoder.encode(item._2, "utf-8") }> 
             {item._1} </a>.</p>
        else <span></span>
     ) ++ (
     for( item <- badOnes ) yield
    	if( item._1 != "" )
	 	 <p> Un point à améliorer est
	 	 <a href={ "/form?url=" + java.net.URLEncoder.encode(item._2, "utf-8") }> 
             {item._1} </a>.</p>
        else <span></span>
     )
    }
  }
  elems
}
}


<h2>Evolution de la notation au cours du temps</h2>

A partir de toutes les réponses enregistrées au cours du temps, voici les courbes d'historique.
<br/>
<img src="http://@request.host@routes.Application.history( user.email, 0 )" />

<div style="clear: both"></div>
<p> -- </p>

<img src="http://@request.host@routes.Application.history( user.email, 1 )" />
