@(report: Any)(implicit user: User)

@main("Rapport d'audit", Some(user)) {
    <a class="pull-right" href="@routes.Application.exportPDF">
    	<span class="glyphicon glyphicon-save-file"></span>
    	Exporter ce rapport en PDF
    </a>
    <div class="clearfix"></div>
    
    <div class="report">
	    <div class="pull-right">
	    	<img src="@routes.Application.chart("pie")" />
	    	<br />
	    	<img src="@routes.Application.chart("radar")" />
	   	</div>
	    @report
    	<div class="clearfix"></div>
	</div>
}